.HomeBackground {
    background-image: url('HomeBackgounrd.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    margin: 0;
}
