#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-background {
  background-image: url('HomeBackground.jpeg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  margin: 0;
}